@model IEnumerable<MenuGenerator.Models.GeneratorOptions>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeekDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealKind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popularity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoradieJedla)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDay.Nazov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generator.NazovProfilu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealKind.Nazov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popularity.Nazov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoradieJedla)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
